<div class="h1">    
    <div>
        <img src="~/Images/final-cover.jpg" class="img-responsive"/>
    </div>
    <p/>
    <p><a href="~/home/locationpoi" class="btn btn-primary btn-lg">Find Stores &raquo;</a></p>
</div>
<div class="row">    
    <div class="col-sm-6">
        <h2>Location Services</h2>
        <p class="lead">Find out what's the best store or sale around your current location instanteously, as you are on a shopping prowl around your city. We analyse and give you the closest sale with the best deal as you move around the vicinity of the store in real-time.</p>
        <p><a class="btn btn-default" href="">Know more &raquo;</a></p>
    </div>    
    <div class="col-sm-6">
        <h2>About</h2>
        <p class="lead">FindMySale is a free web site to find you a store or sale around you using your current location. The location based services include to search on tags, brands, travelling time, locality, etc. and you can even share with friends or other fellow shoppers.</p>
        <p><a class="btn btn-default" href="">About us &raquo;</a></p>
    </div>
</div>