
@{
    ViewBag.Title = "Location";
}

@Html.Partial("_LoginPartial")

<div id="map" style="height:95vh;">Loading...</div>

@Html.Partial("_LinkPartial")



    @*<!-- POI List -->
    <div id="interestPanel" class="panel panel-primary">
        <div class="panel-heading" id="getInfo1" data-toggle="collapse" href="#poiPanelBody">
            <table>
                <tr><td style="width:100%">Stores</td><td style="text-align:right"><span id="poiCtr" class="badge">0</span></td></tr>
            </table>
        </div>
        <div id="poiPanelBody" class="panel-collapse collapse">
            <table class="table-condensed table-hover">
                <thead>
                    <tr>
                        <th>
                            <div>Store</div>
                        </th>
                        <th>
                            Time
                        </th>
                        <th>
                            Dist.
                        </th>
                    </tr>
                </thead>
                <tbody id="poiList"></tbody>
            </table>
        </div>
    </div>

    <!-- Modal POI Details -->
    <div class="modal fade" id="poiDetail" role="dialog" aria-labelledby="storeName">
        <div class="modal-dialog modal-sm" role="document">
            <!-- Modal content-->
            <div class="modal-content ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="storeName">Store</h4>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item-heading">Where: <span id="trvlDist"></span> km. in <span id="trvlTime"></span> min</li>
                        <li class="list-group-item-text">&#9993; <span id="poiAddrs"></span> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>*@




<table style="font-size:small; width:100%" border="0">
    <tr><td>Status :</td><td id="status"></td><td id="feed" style="text-align:right"></td></tr>
</table>
